<%= javascript_include_tag :baseInformation %>
<h1><%= t(:notice) %></h1>
<% if @has_privilege %>
    <input type="button" id="addNoticeButton" value="<%= t('add_notice') %>">
    <div id="addNoticeDiv" class="hide absolutePositon">
      <%= form_tag({action: :add_notice}, id: "addNotice") do %>
          <%= t('title') %>: <%= text_field_tag 'title' %>
          <br>
          <%= t('content') %>:  <%= text_area_tag 'content' %>
          <br>
          <%= submit_tag t('submit') %>
          <input type="button" value="<%= t('back') %>" id="backButton" >
      <% end %>
    </div>
<% end %>
<body>
<div id="notices">
<% @notices.each do |value| %>
    <%= value.title %><br>
    <%= value.content %><br>
      ------------------------<br>
<% end %>
</div>
</body>