<%= javascript_include_tag :baseInformation %>
<h1><%= t(:notice) %></h1>
<% if @has_privilege %>
    <input type="button" id="addNoticeButton" value="<%= t('add_notice') %>">
    <div id="addNoticeDiv" class="hide absolutePositon">
      <h3><%= t('add') %></h3>

      <div class="message"></div>
      <%= form_tag({action: :add_notice}, id: "addNotice", class: "ajaxForm") do %>
          <%= t('title') %>: <%= text_field_tag 'title' %>
          <br>
          <%= t('content') %>:  <%= text_area_tag 'content' %>
          <br>
          <%= submit_tag t('submit') %>
          <input type="button" value="<%= t('back') %>" id="backButton">
      <% end %>
    </div>
<% end %>
<body>
<div id="notices">
  <% @notices.each do |value| %>
      <%= value.title %>--<%= t("publish_date") %>:<%= value.date %>
      <br>
      <%= value.content %>
      <br>
      <%= t("publish_person") %>:<%= get_people_name value.people_id %>
      <br>
      <% if @has_privilege %>
          <%= form_tag({action: :delete_notice}, class: "ajaxForm") do %>
              <%= hidden_field_tag :id,value.id %>
              <%= submit_tag t('delete') %>
          <% end %>
      <% end %>
      ------------------------<br>
<% end %>
</div>
</body>