<h1><%= t(:relation) %></h1>
<%= javascript_include_tag "drawRelation" %>
<% if !@project_name.blank? %>
    <% i = 0 %>
    <% @project_name.each do |value| %>
        <canvas id = <%= " canvas#{i}"%>></canvas>
        <script>
          $(function(){
              var array = new Array();
              <% if !@people[i].blank? %>
              <% @people[i].each do |value| %>
              array.push("<%= value %>");
              <% end %>
              <% end %>
              draw("<%= value %>","<%= @project_manager[i] %>",array,"<%= "canvas#{i}"%>");
          })
        </script>
        <% i += 1 %>
    <% end %>
<% end %>