<% @answers.each do |value| %>
    <div class="answersDiv">
      <span class="smallSpan">
        <%= t('answer_date') %>: <%= value.answer_date %>
        <%= t('answer_people') %>: <%= get_people_name(value.people_id) %>
        <%= t('answer_content') %>: <br>
      </span>
      <%= value.content %>
    </div>
<% end %>