<h1><%= t('file_share') %></h1>
<%= form_tag({action: :upload}, multipart: true, id: "upload") do %>
    <%= file_field_tag 'picture' %>
    <%= submit_tag t('submit') %>
<% end %>
<%= t('file_list') %><br>
<% @shares.each do |value| %>
    <%= link_to value.name, 'download?file_name='+value.name %>
    <br>
<% end %>