<div class="leftPanelDiv">
  <div>
    <ul>
      <li class="headerLi"><%= t('base_information') %></li>
      <li class="selected" data-url="base_information/notice"><%= t('notices') %></li>
      <li data-url="base_information/relation"><%= t('relation') %></li>
    </ul>
  </div>
  <div>
    <ul>
      <li class="headerLi"><%= t('work_management') %></li>
      <li data-url="management/project_management"><%= t('project_management') %></li>
      <li data-url="management/plan"><%= t('work_plan') %></li>
      <li data-url="management/task_distribute"><%= t('progress_distrubute') %></li>
      <li data-url="management/schedule_submit"><%= t('progress_submit') %></li>
      <li data-url="management/schedule_summary"><%= t('progress_summary') %></li>
    </ul>
  </div>
  <div>
    <ul>
      <li class="headerLi"><%= t('data_sharing') %></li>
      <li data-url="share/file_share"><%= t('file_share') %></li>
      <li data-url="share/question_answer"><%= t('question_and_answer') %></li>
    </ul>
  </div>
</div>


