<%= javascript_include_tag "project" %>
<h1><%= t('add_project') %></h1>
<div class="message">
</div>
<br>
<div class="addProject">
  <form action="addProject" method="post" id="addProjectForm">
    <table class="addTable">
      <tr><td><%= t('project_name') %>:</td><td><input name="name" placeholder="<%= t('input_project') %>"/></td></tr>
      <tr><td><%= t('start_date') %>:</td><td><input type="date" name="start_date"/></td></tr>
      <tr><td><%= t('finish_date') %>:</td><td><input type="date" name="finish_date"/></td></tr>
      <tr><td><%= t('description') %>:</td><td><textarea rows="5" cols="90" name="description"></textarea></td></tr>
    </table>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <div class="choosePeople">
      <div class="leftPeople">
        <div class="headerDiv"><%= t('employ_name') %></div>
        <div class="peopleContent"  ondrop="drop(event)" ondragover="allowDrop(event)">
          <% i = 0 %>
          <% @people.each do |value| %>
              <div class="data" draggable="true" ondragstart="drag(event)" id="l<%= i %>" data-id="<%= value.id %>"><%= value.name %></div>
              <% i+=1 %>
          <% end %>
        </div>
      </div>
      <div class="centerChoose">
        --->
      </div>
      <div class="rightPeople" id="rightPeople" >
        <div class="headerDiv"><%= t('project_people') %></div>
        <div class="peopleContent" ondrop="drop(event)" ondragover="allowDrop(event)">
        </div>
      </div>
    </div>
    <br>
    <input type="submit" value="<%= t('add') %>"><br>
    <input type="button" value="<%= t('go_back') %>" class="ajaxRequest" data-url="management/project_management">

  </form>
</div>