<%= javascript_include_tag 'task' %>
<%= javascript_include_tag 'project' %>
<%= javascript_include_tag 'getProjectPeople'%>
<%= javascript_include_tag 'addTask'%>
<%= stylesheet_link_tag 'management'%>
<h1><%= t('add task') %></h1>
<div class="addTask">
  <div id="result" class="hide message"></div>
  <form action="addTask" method="post" id="addTaskForm" >
    <%= t('task_name') %>:<input name="name" placeholder="<%= t('input_task') %>"/>
    <%= t('project_name') %>:
    <select name="project_id" id="project_id" data-url="getProjectPeople">
      <% @projects.each do |value| %>
          <option value="<%= value.id %>"><%= value.name %></option>
      <% end %>
    </select>
    <%= t('start_date') %>:<input type="date" name="start_date"/>
    <%= t('weight') %>:<input name="weight" placeholder="<%= t('input_weight') %>"/><br>
    <br>
    <%= t('hard_level')%>
    <select name="hard_level" id="hard_level">
      <option value="1"><%= t('easy') %></option>
      <option value="2"><%= t('common') %></option>
      <option value="3"><%= t('hard') %></option>
    </select>
    <%= t('description') %>:
    <textarea rows="3" cols="20" name="description"></textarea>
    <br>
    <br>
    <br>
    <%= t('add_people') %>:
    <br>
    <div class="choosePeople">
      <div class="leftPeople">
        <div class="headerDiv"><%= t('project_people') %></div>
        <div class="peopleContent"  ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      </div>
      <div class="centerChoose">
        --->
      </div>
      <div class="rightPeople" id="rightPeople">
        <div class="headerDiv"><%= t('task_people') %></div>
        <div class="peopleContent"  ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      </div>
    </div>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <input type="submit" value="<%= t('add') %>">
    <input type="button" value="<%= t('go_back') %>" class="ajaxRequest" data-url="management/task_distribute">
  </form>
</div>