<h1><%= t('show_schedule') %></h1>
<% if @has_priviliege&&!@projects.blank? %>
    <div class="showProjectSchedule">
      <%= form_tag({action: :goto_schedule_control}, class: "ajaxForm") do %>
          <%= t("my_manager_project") %>:
          <select name="project_id">
            <% @projects.each do |value| %>
                <option value="<%= value.id %>"><%= value.name %></option>
            <% end %>
            <%= submit_tag t("view") %>
          </select>
      <% end %>
    </div>
    ----------------------------
<% end %>
<br>
<h2><%= t("my_schedule") %>:</h2>
<%= render :partial => 'goto_show_schedule' %>