<%= javascript_include_tag "plan.js" %>
<h1><%= t('add_plan') %></h1>
<div class="message"></div>
<div class="addPlan">
  <%= form_for @plan, url: {action: "add_plan"}, html: {id: "addPlanForm", class: "ajaxForm"} do |f| %>
      <%= f.hidden_field :people_id, :value => session[:people_id] %>
      <%= f.hidden_field :create_date, :value => @create_date %>
      <table>
        <tr>
          <td><%= t('plan_name') %>：</td>
          <td><%= f.text_field :name, placeholder: t('input_plan') %></td>
        </tr>
        <tr>
          <td><%= t('start_date') %>：</td>
          <td><input type="date" name="plan[start_date]"/></td>
        </tr>
        <%= t('finish_date') %>:
        <input type="date" name="plan[finish_date]"/><br>
        <%= t('realte_task') %>:
        <select name="plan[task_id]">
          <option value="0"><%= t("none") %></option>
          <% i = 0 %>
          <%= @task_ids.each do |value| %>
              <option value="<%= value.task_id %>"><%= @task_names[i] %></option>
              <% i+=1 %>
          <% end %>
        </select>
        <%= t('hard_level') %>:
        <select name="plan[hard_level]">
          <option value="1"><%= t('easy') %></option>
          <option value="2"><%= t('common') %></option>
          <option value="3"><%= t('hard') %></option>
        </select><br>
        <%= t('description') %>:
        <textarea rows="3" cols="20" name="plan[description]"></textarea>
        <br>
        <input type="submit" value="<%= t('add') %>">
        <input type="button" value="<%= t('go_back') %>" class="ajaxRequest" data-url="management/plan">

      </table>
  <% end %>
</div>