<%= javascript_include_tag "removeDuplicatePeople" %>
<%= javascript_include_tag "updateProject" %>
<%= javascript_include_tag "project" %>
<h1><%= t('update_project') %></h1>
<div class="message">
</div>
<br>
<div class="addProject">
  <form action="updateProject" method="post" id="updateProjectForm">
    <input type="hidden" value="<%= @project_id %>" name="project_id">
    <%= t('project_name') %>:<input name="name" placeholder="<%= t('input_project') %>" value="<%= @project.name %>"/>
    <%= t('start_date') %>:<input type="date" name="start_date" value="<%= @project.start_date %>"/>
    <%= t('finish_date') %>:<input type="date" name="finish_date" value="<%= @project.finish_date %>"/><br>
    <br>
    <%= t('description') %>:
    <textarea rows="5" cols="90" name="description"><%= @project.description %></textarea>
    <br>
    <!--<input type="textarea" name="description"/>-->
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

    <div class="choosePeople">
      <div class="leftPeople">
        <div class="headerDiv"><%= t('employ_name') %></div>
        <div class="peopleContent" ondrop="drop(event)" ondragover="allowDrop(event)">
          <% @people.each do |value| %>
              <div class="data" draggable="true" ondragstart="drag(event)" id="id_flag_<%= value.id %>" data-id="<%= value.id %>"><%= value.name %></div>
          <% end %>
        </div>
      </div>
      <div class="centerChoose">
        --->
      </div>
      <div class="rightPeople" id="rightPeople">
        <div class="headerDiv"><%= t('project_people') %></div>
        <div class="peopleContent" ondrop="drop(event)" ondragover="allowDrop(event)">
          <% i = 0 %>
          <% while i<@project_people.size/2 do %>
              <div class="data" draggable="true" ondragstart="drag(event)" id="flag_<%= @project_people[2*i] %>" data-id="<%= @project_people[2*i] %>"><%= @project_people[2*i+1] %></div>
              <% i+=1 %>
          <% end %>
        </div>
      </div>
    </div>
    <input type="submit" value="<%= t('update') %>">
    <input type="button" value="<%= t('back') %>" class="ajaxRequest" data-url="management/project_management">
  </form>
  <form class="ajaxForm" data-url="deleteProject">
    <input value="<%= @project_id %>" name="project_id" name="project_id" type="hidden">
    <input type="submit" value="<%= t('delete_project') %>">
  </form>
  <div id="result" class="hide message"></div>
</div>