<%= javascript_include_tag 'task' %>
<%= javascript_include_tag 'project' %>
<%= javascript_include_tag 'removeDuplicatePeople' %>
<%= javascript_include_tag 'updateTask' %>
<%= stylesheet_link_tag 'management' %>
<h1><%= t('update task') %></h1>
<div id="result" class="hide message"></div>
<div class="updateTask">
  <form action="updateTask" method="post" id="updateTaskForm">
    <input value="<%= @task.id %>" name="task_id" type="hidden">
    <input type="hidden" name="project_id" id="project_id" data-url="getProjectPeople" value="<%= @task.project_id %>">
    <%= t('task_name') %>:<input name="name" placeholder="<%= t('input_task') %>" value="<%= @task.name %>"/>
    <%= t('project_name') %>:
    <input value="<%= @project_name %>" readonly class="readonly">
    <%= t('start_date') %>:<input type="date" name="start_date" value="<%= @task.start_date %>"/>
    <%= t('weight') %>:<input name="weight" placeholder="<%= t('input_weight') %>" value="<%= @task.weight %>"/><br>
    <br>
    <%= t('hard_level') %>
    <select name="hard_level" id="hard_level">
      <option value="1" <%= output_options @task.hard_level, 1 %>><%= t('easy') %></option>
      <option value="2" <%= output_options @task.hard_level, 2 %>><%= t('common') %></option>
      <option value="3" <%= output_options @task.hard_level, 3 %>><%= t('hard') %></option>
    </select>
    <%= t('description') %>:
    <textarea rows="3" cols="20" name="description"><%= @task.description %></textarea>
    <br>
    <br>
    <br>
    <%= t('add_people') %>:
    <br>

    <div class="choosePeople">
      <div class="leftPeople">
        <div class="headerDiv"><%= t('project_people') %></div>
        <div class="peopleContent" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      </div>
      <div class="centerChoose">
        --->

      </div>
      <div class="rightPeople" id="rightPeople">
        <div class="headerDiv"><%= t('task_people') %></div>
        <div class="peopleContent" ondrop="drop(event)" ondragover="allowDrop(event)">
          <% @people.each do |value| %>
              <div class="data" draggable="true" ondragstart="drag(event)" id="flag_<%= value.id %>" data-id="<%= value.id %>"><%= value.name %></div>
          <% end %>
        </div>
      </div>
    </div>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <input type="submit" value="<%= t('update') %>">
    <input type="button" value="<%= t('go_back') %>" class="ajaxRequest" data-url="management/task_distribute">
  </form>
  <form class="ajaxForm" action="deleteTask">
    <input value="<%= @task.id %>" name="task_id" type="hidden">
    <input type="submit" value="<%= t('delete_task') %>">
  </form>
</div>