<%= javascript_include_tag "plan.js" %>
<h1><%= t('work_plan') %></h1>
<div class="showPlan">
  <table>
    <thead>
    <tr>
    <th><%= t('plan_name') %></th>
    <th><%= t('start_date') %></th>
    <th><%= t('finish_date') %></th>
    <th><%= t('hard_level') %></th>
    <th><%= t('realte_task') %></th>
    <th class="widthTh"><%= t('description') %></th>
    <th><%= t('is_done') %></th>
    </tr>
    </thead>
    <% if @plans.blank? %>
        <tr><td colspan="7"><%= t('no_plan') %></td></tr>
    <% else %>
    <% @plans.each do |value| %>
        <tr>
          <td>
            <a data-url="gotoUpdatePlan?plan_id=<%= value.id %>" class="ajaxRequest" href="javascript:void(0)"> <%= value.name %></a>
          </td>
          <td> <%= value.start_date %></td>
          <td> <%= value.finish_date %></td>
          <td> <%= format_hard_level value.hard_level %></td>
          <td> <%= get_task_name value.task_id %></td>
          <td> <%= value.description %></td>
          <td> <%= format_is_done value.is_done %></td>
        </tr>
    <% end %>
        <% end %>
  </table>
  <input type="button" value="<%= t('add_plan') %>" class="ajaxRequest" data-url="gotoAddPlan">
</div>