<%= javascript_include_tag "plan.js" %>
<h1><%= t('work_plan') %></h1>
<div class="showPlan">
  <%= t('show_plan_history') %>
  <br>
  <table>
    <thead>
    <td><%= t('plan_name') %></td>
    <td><%= t('start_date') %></td>
    <td><%= t('finish_date') %></td>
    <td><%= t('hard_level') %></td>
    <td><%= t('realte_task') %></td>
    <td><%= t('description') %></td>
    </thead>
    <% if @list.nil? %>
        <tr><td colspan="7"><%= t('no_plan') %></td></tr>
    <% else %>
    <% @list.each do |value| %>
        <tr>
          <td> <%= value.name %></td>
          <td> <%= value.start_date %></td>
          <td> <%= value.finish_date %></td>
          <td> <%= value.hard_level %></td>
          <td> <%= value.task_id %></td>
          <td> <%= value.description %></td>
        </tr>
    <% end %>
        <% end %>
  </table>
</div>