<h1><%= t('schedule_summary') %></h1>
<div class="showSummary">
    <div id="showProject">
      <%= t("show_project") %><br><br>
      <div>
        <% if !@projects.blank? %>
            <% @projects.each do |value| %>
                <%= value.name %>
                <%= value.start_date %>
                <%= value.finish_date %>
                <%= value.manager_id %>
                <%= format_is_done value.is_done %>
                <br>
            <% end %>
        <% end %>
      </div>
    </div>

    <div id="showPlan">
      <%= t("show_plan") %><br><br>
      <div>
        <% if !@plans.blank? %>
            <% @plans.each do |value| %>
                <%= value.name %>
                <%= value.start_date %>
                <%= value.finish_date %>
                <%= value.hard_level %>
                <%= format_is_done value.is_done %>
                <br>
            <% end %>
        <% end %>
      </div>
    </div>

    <div id="showTask">
      <%= t("show task") %><br><br>
      <div>
        <% if !@tasks.blank? %>
            <% @tasks.each do |value| %>
                <%= value.name %>
                <%= value.start_date %>
                <%= value.end_date %>
                <%= value.hard_level %>
                <%= value.percentage %>
                <%= value.weight %>
                <%= format_is_done_by_percentage value.percentage %>
                <br>
            <% end %>
        <% end %>
      </div>
    </div>
</div>