<h1><%= t('show_project') %></h1>
<div class="showProject">
  <table>
    <tr>
      <td>
        <%= t('project_name') %>:
      </td>
      <td>
        <input readonly class="readonly" name="name" value="<%= @project.name %>"/>
      </td>
    </tr>
    <tr>
      <td>
        <%= t('start_date') %>:
      </td>
      <td>
        <input readonly class="readonly" type="date" value="<%= @project.start_date %>"/>
      </td>
    </tr>
    <tr>
      <td>
        <%= t('finish_date') %>:
      </td>
      <td>
        <input readonly class="readonly" type="date" value="<%= @project.finish_date %>"/><br>
      </td>
    </tr>
    <tr>

      <td>
        <%= t('description') %>:
      </td>
      <td>
        <textarea rows="5" cols="90" readonly class="readonly"><%= @project.description %></textarea>
      </td>
    </tr>
  </table>
  <div class="headerDiv "><%= t('project_people') %></div>
  <div class="peopleContent">
    <div class="people">
      <% i = 0 %>
      <% while i<@project_people.size/2 do %>
          <div class="data"><%= @project_people[2*i+1] %></div>
          <% i+=1 %>
      <% end %>
    </div>
  </div>

  <input type="button" value="<%= t('back') %>" class="ajaxRequest" data-url="management/project_management">
</div>