<h1><%= t('show_schedule') %></h1>
<div class="message"></div>
<div class="show_shcedule">
  <%= t("date") %>:
  <input type="date" value="<%= @schedule.date %>" name="schedule[date]" readonly>
  <%= t('realte_task') %>:
  <input readonly value="<%= get_task_name @schedule.task_id %>">
  <%= t("finish_percentage") %>:
  <input readonly value="<%= @schedule.complete_percentage %>">
  <br>
  <%= t('realte_plan') %>:
  <input readonly value="<%= get_plan_name @schedule.plan_id %>">
  <%= t('is_done') %>:
  <input readonly value="<%= format_is_done @schedule.plan_is_done %>">
  <br>
  <%= t('description') %> : <input readonly value="  <%= @schedule.description %>">
  <br>
  <%= t('content') %>: <textarea readonly><%= @schedule.content %></textarea>
  <br>
  <%= form_tag({action: :advice_for_schedule}, class: "ajaxForm") do %>
      <%= t('advice') %>:
      <textarea <%= output_readonly @has_advice_privilege %> name="advice"><%= @schedule.advice %></textarea>
      <%= output_submit_tag @has_advice_privilege %>
  <% end %>
  <% if @has_delete_privilege %>
      <%= form_tag({action: :delete_schedule}, class: "ajaxForm") do %>
          <input type="submit" value="<%= t("delete") %>">
          <%= hidden_field_tag :id, @schedule.id %>
      <% end %>
  <% end %>
  <input type="button" value="<%= t('back') %>" class="ajaxRequest" data-url="management/schedule_submit">
</div>