<h1 xmlns="http://www.w3.org/1999/html"><%= t('show_schedule') %></h1>
<div class="message"></div>
<div class="show_shcedule">
  <table>
    <tr>
      <td><%= t("date") %>:</td>
      <td><input type="date" value="<%= @schedule.date %>" name="schedule[date]" readonly></td>
    </tr>
    <tr>
      <td><%= t('realte_task') %>:</td>
      <td><input readonly value="<%= get_task_name @schedule.task_id %>"></td>
    </tr>
    <tr>
      <td><%= t("finish_percentage") %>:</td>
      <td><input readonly value="<%= @schedule.complete_percentage %>"></td>
    </tr>
    <tr>
      <td><%= t('realte_plan') %>:</td>
      <td><input readonly value="<%= get_plan_name @schedule.plan_id %>"></td>
    </tr>
    <tr>
      <td><%= t('is_done') %>:</td>
      <td><input readonly value="<%= format_is_done @schedule.plan_is_done %>"></td>
    </tr>
    <tr>
      <td><%= t('description') %> :</td>
      <td><input readonly value="  <%= @schedule.description %>"></td>
    <tr>
      <td><%= t('content') %>:
      <td>
        <textarea readonly><%= @schedule.content %></textarea></td>
    </tr>
    <%= form_tag({action: :advice_for_schedule}, class: "ajaxForm") do %>
        <tr>
          <td>
            <%= t('advice') %>:
          </td>

          <td><textarea <%= output_readonly @has_advice_privilege %> name="advice"><%= @schedule.advice %></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="2">
          <%= output_submit_tag @has_advice_privilege %>
          </td>
        </tr>
    <% end %>
  </table>
  <% if @has_delete_privilege %>
      <%= form_tag({action: :delete_schedule}, class: "ajaxForm") do %>
          <input type="submit" value="<%= t("delete") %>">
          <%= hidden_field_tag :id, @schedule.id %>
      <% end %>
  <% end %>
  <input type="button" value="<%= t('back') %>" class="ajaxRequest" data-url="management/schedule_submit">
</div>