<%= stylesheet_link_tag 'management'%>
<h1><%= t('task_distribute') %></h1>
<div class="showTask">
  <table>
    <thead>
    <td><%= t('task_name') %></td>
    <td><%= t('project_name') %></td>
    <td><%= t('hard_level') %></td>
    <td><%= t('project_weight') %></td>
    <td><%= t('finish_percentage') %></td>
    <td><%= t('start_date') %></td>
    <td><%= t('finish_date') %></td>
    <td><%= t('description') %></td>
    </thead>
    <% if @tasks.nil? %>
        <tr><td colspan="7"><%= t('no_task') %></td></tr>
    <% else %>
        <% @tasks.each do |value| %>
            <tr>
              <td>
                <a data-url="gotoUpdateTask?task_id=<%= value.id %>" class="ajaxRequest" href="javascript:void(0)"> <%= value.name %></a>
              </td>
              <td> <%= get_project_name value.project_id %></td>
              <td> <%= formate_hard_level value.hard_level %></td>
              <td> <%= value.weight %>%</td>
              <td> <%= value.percentage %>%</td>
              <td> <%= value.start_date %></td>
              <td> <%= value.end_date %></td>
              <td> <%= value.description %></td>
            </tr>
        <% end %>
    <% end %>
  </table>
</div>
<div >
  <input type="button" value="<%= t('add_task') %>" class="ajaxRequest" data-url="gotoAddTask">
</div>