<%= javascript_include_tag 'task.js' %>
<%= stylesheet_link_tag 'management'%>
<h1><%= t('task_distribute') %></h1>
<div class="addTask">
  <form action="addTask" method="post" id="addProjectForm">
    <%= t('task_name') %>:<input name="name" placeholder="<%= t('input_task') %>"/>
    <%= t('project_name') %>:
    <select name="project_id">
      <% @projects.each do |value| %>
          <option value="<%= value.id %>"><%= value.name %></option>
      <% end %>
    </select>
    <%= t('start_date') %>:<input type="date" name="start_date"/>
    <%= t('weight') %>:<input name="weight" placeholder="<%= t('input_weight') %>"/><br>
    <br>
    <%= t('description') %>:
    <textarea rows="3" cols="20" name="description">
    </textarea>

    <div class="leftPeople">
      <ul>
        <% @people.each do |value| %>
            <li name="<%= value.id %>"><%= value.name %></li>
        <% end %>
      </ul>
    </div>
    <%= t('add_people') %>:
    <div class="rightPeople"></div>
    <!--<input type="textarea" name="description"/>-->
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <input type="submit" value="<%= t('add task') %>">
  </form>
  <div id="result" class="hide message"></div>
</div>
