<%= stylesheet_link_tag 'management' %>
<h1><%= t('task_distribute') %></h1>
<div class="showTask">
  <table>
    <thead>
    <tr>
      <th><%= t('task_name') %></th>
      <th><%= t('project_name') %></th>
      <th><%= t('hard_level') %></th>
      <th><%= t('project_weight') %></th>
      <th><%= t('finish_percentage') %></th>
      <th><%= t('start_date') %></th>
      <th><%= t('finish_date') %></th>
      <th><%= t('description') %></th>
      <th><%= t('is_done') %></th>
    </tr>
    </thead>
    <% if @tasks.blank? %>
        <tr>
          <td colspan="9"><%= t('no_task') %></td>
        </tr>
    <% else %>
        <% @tasks.each do |value| %>
            <tr>
              <td>
                <a data-url="gotoUpdateTask?task_id=<%= value.id %>" class="ajaxRequest" href="javascript:void(0)"> <%= value.name %></a>
              </td>
              <td> <%= get_project_name value.project_id %></td>
              <td> <%= format_hard_level value.hard_level %></td>
              <td> <%= value.weight %>%</td>
              <td> <%= value.percentage %>%</td>
              <td> <%= value.start_date %></td>
              <td> <%= value.end_date %></td>
              <td> <%= value.description %></td>
              <td> <%=  format_is_done_by_percentage value.percentage %></td>
            </tr>
        <% end %>
    <% end %>
  </table>
</div>
<div>
  <% if @has_priviliege %>
      <input type="button" value="<%= t('add_task') %>" class="ajaxRequest" data-url="gotoAddTask">
  <% end %>
</div>