<head xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <link rel="Shortcut Icon" href="assets/web.ico">
  <title><%= t('OA') %></title>
  <%= javascript_include_tag "jquery-1.11.0" %>
  <%= javascript_include_tag "language" %>
  <%= javascript_include_tag "login.js" %>
  <%= stylesheet_link_tag "login" %>
</head>

<body>

<div class="languageDiv">
  <%= t('language') %>:
  <input type="radio" name="locale" value="zh" class="language" id="chinese">中文</input>
  <input type="radio" name="locale" value="en" class="language" id="english">English</input>
</div>

<div style="position:relative; display:inline-block;">
  <div class="loginDiv">
    <h2><%= t(:login) %></h2><br>
    <div class="message"></div>
    <form method="post" action="login" id="loginForm">
      <input type="text" placeholder=<%= t('username') %>  name="username"/><br>
      <input type="password" placeholder=<%= t('password') %> name="password"/><br><br>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
      <input type="submit" value="<%= t('login') %>"/>
    </form>
    <input type="button" value="<%= t('no_account') %>" class="registerButton"><br><br><br><br>

  </div>

  <div class="registerDiv">
    <%= render :template => "register/index" %>
  </div>
</div>


</body>