<%= stylesheet_link_tag "register" %>
<h2><%= t(:register) %></h2>
<div class="message"></div>
<form action="register" method="post" id="registerForm">
  <input name="username" placeholder=<%= t('username') %> type="text"/><br/>
  <input name="password" placeholder=<%= t('password') %> type="password"/><br/>
  <input name="repassword" placeholder=<%= t('repassword') %> type="password"/><br/>
  <table>
    <tr>
      <td><%= t('gender') %></td>
      <td><input type="radio" name="gender" value="male" checked/> <%= t('male') %></td>
      <td><input type="radio" name="gender" value="female"/><%= t('female') %></td>
    </tr>
    <tr><td></td></tr>
    <tr>
      <td><%= t('position') %></td>
      <td><input type="radio" name="priviliege" value="5" checked/> <%= t('developer') %></td>
      <td><input type="radio" name="priviliege" value="10"/><%= t('manager') %></td>
    </tr>
    <tr><td></td></tr>    <tr><td></td></tr>
  </table>
  <input type="text" placeholder=<%= t('number') %> name="no"/><br/>
  <input type="text" placeholder=<%= t('departmentId') %> name="departmentId"/><br/>
  <input type="text" placeholder=<%= t('email') %> name="email"/><br/>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <input type="reset" value="<%= t('reset') %>"/><br/>
  <input type="submit" value="<%= t('submit') %>"/><br/>
  <input type="button" class="closeButton" value="<%= t('return_to_login') %>"/>
</form>