<head>
  <title>register-page</title>
  <%= javascript_include_tag "jquery-1.11.0"%>
  <%= javascript_include_tag "login.js"%>
  <%= stylesheet_link_tag "register"%>
</head>
</head>
<body>
<div class="registerDiv">
<h1><%= t(:register) %></h1>
<form action="register" method="post">
  <%= t('username') %>
  <input name="username" type="text"/><br/>
  <%= t('password') %>
  <input name="password" type="password"/><br/>
  <%= t('repassword') %>
  <input name="repassword" type="password"/><br/>
  <%= t('gender') %>
  <input type="radio" name="gender" value="male"/> <%= t('male') %>
  <input type="radio" name="gender" value="female"/><%= t('female') %><br/>
  <%= t(:number) %>
  <input type="text" name="no"/><br/>
  <%= t(:projectId) %>
  <input type="text" name="projectId"/><br/>
  <%= t(:departmentId) %>
  <input type="text" name="departmentId"/><br/>
  <%= t('email') %>
  <input type="text" name="email"/><br/>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <input type="reset" value="<%= t('reset') %>">
  <input type="submit" value="<%= t('submit') %>"/>
</form>
</div>
<input type="button"  class="closeButton"  >
</body>