<!DOCTYPE html>
<html>
<head>
  <link rel="Shortcut Icon" href="assets/web.ico">
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery-1.11.0" %>
  <%= javascript_include_tag "loadPage" %>
  <%= javascript_include_tag "leftMenu" %>
  <%= csrf_meta_tags %>
  <!--<link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css"/>-->
  <!--<link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css"/>-->
</head>
<body>
<!--<div class="container screen">-->
  <%= render "layouts/header" %>
  <%= yield %>
  <%= render "layouts/footer" %>
<!--</div>-->
<a name="bottom"></a>
</body>
</html>
